/* Applies to all elements */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inconsolata', monospace;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* React App Div*/
#root {
  padding: 30px;
  background-color: #1A1C50;
  color: #E9E9E9;
}

/* Highlight styling */
::-moz-selection { /* Code for Firefox */
    color:#1A1C50;
    background:#D83D2B;
}

::selection {
    color:#D83D2B;
    background-color: #1A1B34;
}

/* Container for Title page */
.container {
  padding: 30px;
  border-bottom: 1px solid black;
  background-color: pink;
  top: 0px;
  left: 0px;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom,  #000000, #1A1C50,,#484967);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000000, #1A1C50, #484967); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 101%;
  width: 100%;
  position: fixed;
}

/* Star Wars logo */
.container img {
  max-width: 1000px;
  width: 70%;
  margin-top: 12%;
}

/* Deathstare image bottom right */
.deathstar img {
  max-width: 1000px;
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  right: 0px;
  height: 30%;
}

/* Basic links styling */
a:link, a:visited, a:active {
  color: #D52812;
}

/* Wrapper and container for the table */
.table-container {
  width: 100%;
  min-height: 100%;
  background: -webkit-linear-gradient(to bottom,  #484967, #1A1C50, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #484967, #1A1C50, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.table-wrap {
  padding: 80px;
}

/* Wrapper for each row of the table */
.planets-wrap {
  text-align: left;
  height: auto;
  vertical-align: top;
  margin-top: 0px;
  box-sizing: border-box;
  min-width: 100%;
  display: table;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out; /*this works in firefox*/
  -webkit-transition: all 0.2s ease-in-out; /*this works in chrome*/
}

/* Hover effect for each row*/
.planets-wrap:hover {
  background-color:#07082A;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out; /*this works in firefox*/
  -webkit-transition: all 0.2s ease-in-out; /*this works in chrome*/
  -webkit-box-shadow: 0 0 5px 2px #72749C;
  -moz-box-shadow: 0 0 5px 2px #72749C;
  box-shadow: 0 0 5px 2px #72749C;
}

/* Each cell in the table */
.planets-name, .planets-pop, .planets-terrain {
  display:table-cell;
  width: 30%;
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
}

/* Table heading styling */
.planets-name-h, .planets-pop-h, .planets-terrain-h {
  font-weight: bold;
  display: inline-block;
  text-decoration: underline;
  text-align: left;
  width: 30%;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 1px;
}

/* Search field CSS */
.planet-search {
  position: relative;
  text-align: center;
  padding-bottom: 15px;
  display: block;
  width: 100%;
}

.search-field {
  margin-top: 10px;
  border: none;
  outline: none;
  color: #D83D2B;
  background-color: #07082A;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-shadow: 0 0 5px 2px #72749C;
  -moz-box-shadow: 0 0 5px 2px #72749C;
  box-shadow: 0 0 5px 2px #72749C;
}

/* Search bar input */
.planet-search input[type=text] {
  position: relative;
  top: -2px;
  width: calc(100% - 50px);
  display:inline-block;
  border: none;
  outline: none;
  color: #D83D2B;
  background-color: #07082A;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

.planet-search button {
  width: 20px;
  border: none;
  outline: none;
  padding: 5px;
  background-color: transparent;
  display:inline-block;
}

.planet-search button img {
  max-height: 20px;
  max-width: 50px;
}
/* Population and Name Toggle CSS */
.planets-name-h button, .planets-pop-h button {
  letter-spacing: 1px;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  padding-top: 5px;
  padding-bottom: 0px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: #E9E9E9;
}

.planets-name-h img, .planets-pop-h img {
  max-height: 16px;
}

/* Back to top button */
.back-to-top {
  position: fixed; bottom: 30px; right: 40px;
}
.back-to-top img{
  height: 60px;
}

/* To make the website mobile friendly! */
@media only screen and (max-width: 700px) {
  .table-wrap {
  padding: 0px;
  }
  #root {
    font-size: 12px;
  }
  .planets-name-h button, .planets-pop-h button, .planets-name-h, .planets-pop-h, .planets-terrain-h {
    font-size: 12px;
  }
  .planets-name-h img, .planets-pop-h img {
    max-height: 12px;
  }
  .back-to-top {
    bottom: 20px; right: 20px;
  }
  .back-to-top img{
    height: 30px;
  }
}
